body{
    background-color: rgb(31, 29, 29);
    height: 100vh;
    
}
.plus{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.plus:hover{
    background-color: aquamarine;
    cursor: pointer;
}
.title{
    text-align: center;
    font-size: 50px;
    color: azure;
}
fieldset{
    border: none;
}

fieldset{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
input{
    height: 20px;
    font-size: 18px;
    width:95%;
}
fieldset>div{
    margin: 10px;
}
fieldset>button{
    width: 90%;
    font-size: 20px;
    height: 35px;
    margin: 5px;
    
}
.form{
    display: none;
    position: fixed;
    z-index: 2147483647;

    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    background-color: white;
    width: 280px;
    border-radius: 15px;
    top:200px;
    align-items: center;
    justify-content: center;
    
}
.books{
    height: 86%;
    display: flex;
    flex-wrap: wrap;
}
.book-card{
    display: flex;
    flex-direction: column;
    padding: 2px;
    height: max(250px,40%);
    width: min(350px,40%);
    background-color: #baff35;
    border-radius: 10px;
    margin: 5px;
}